.Trash/
.anyconnect
.bundle/
.cache/
.cisco/
.config/
.dbshell
.dropbox/
.eclipse/
.emulator_console_auth_token
.gem/
.git-credentials
.gitconfig
.gradle/
.idlerc/
.ipython/
.ivy2/
.jupyter/
.local/
.matplotlib/
.mongorc.js
.mysql_history
.node-gyp/
.npm/
.oracle_jre_usage/
.p2/
.python_history
.rnd
.rstudio-desktop/
.sbt/
.scalaide/
.ssh/
.subversion/
.tooling/
.vim/
.viminfo
.virtualenvs/
AndroidStudioProjects/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
chatroom/
config.log
eclipse-workspace/
macports/
npm-debug.log
programming/
.CFUserTextEncoding
.Xauthority
.bash_history
.bash_sessions/
.bashrc/
